* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background: #232931;
}

.alert2 {
	margin-top: 10px;
	border-radius: 10px;
        font-size: 1.3rem;
	padding: 20px;
        border-color: #bee5eb;
}

.form {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

fieldset {
	width: 100%;
}

label {
	color: white;
}

.btn {
	margin: 10px;
}
