@media only screen and (max-width: 768px){
	.main-container {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}
	.update-container {
		width: 80%;
	}
        .head {
                display: flex;
                justify-content: center;
                font-size: 1.2rem;
                color: white;
        }
	.tags {
		color: orange;
                font-size: 1.2rem;
	}
        .main-container, .update-container, .alert {
                font-size: 18px;
        }
	.faculty-container {
		width: 80%;
	}
	.form-control {
                width: 95%;
}	
